In [1]:
import pandas as pd

In [8]:
store_train=pd.read_csv(r'.\Cases\rossmann-store-sales\train.csv')
store_test=pd.read_csv(r'.\Cases\rossmann-store-sales\test.csv')
print(store_train.shape,store_train.shape)
store_train.head()

(1017209, 9) (1017209, 9)

C:\Users\dai.STUDENTSDC\AppData\Local\Temp\ipykernel_19680\708130477.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  store_train=pd.read_csv(r'.\Cases\rossmann-store-sales\train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [15]:
store_1_sales=store_train[store_train['Store']==1][['Date','Sales']]
store_1_sales.sort_values(by='Date',inplace=True)
store_1_sales.head()

               Date  Sales
1016095  2013-01-01      0
1014980  2013-01-02   5530
1013865  2013-01-03   4327
1012750  2013-01-04   4486
1011635  2013-01-05   4997

In [16]:
y_test=store_1_sales.iloc[-13:,:]
y_train=store_1_sales.iloc[:-13,:]
y_test.shape,y_train.shape

((13, 2), (929, 2))

In [ ]:
model=auto