In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import os

In [2]:
exp_sals = pd.read_csv('..\Datasets\Exp_Salaries.csv')
exp_sals.head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\ONKAR\AppData\Local\Temp\ipykernel_5536\2336089877.py:1: SyntaxWarning: invalid escape sequence '\D'
  exp_sals = pd.read_csv('..\Datasets\Exp_Salaries.csv')

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [3]:
train, test = train_test_split(exp_sals, test_size=0.3, random_state=25)
x_train = train.drop(columns=['Salary','Department','Gender'],axis=1)
y_train = train['Salary']
x_test =test.drop(columns=['Salary','Department','Gender'],axis=1)
y_test = test['Salary']

In [4]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
print(lr.coef_)
print(lr.intercept_)

[   5.06730251  729.64208918 1488.0137908   178.41380514]
23598.11334443491

In [5]:
v1 = 5.06730251*6 + 729.64208918*5+ 1488.0137908*5  + 178.41380514*4 + 23598.113344434903
v2 = 5.06730251*6 + 729.64208918*6+ 1488.0137908*5  + 178.41380514*4 + 23598.113344434903
v2-v1

729.6420891799935

In [6]:
test_df=exp_sals[['Years_Previous_Experience', 'Years Employed','Years_Education','Number_Supervised']].iloc[:2,:]

In [7]:
print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
print("mean_squared_error",mean_squared_error(y_test, y_pred))
print("r2_score",r2_score(y_test, y_pred))
# Generating output on unlabeled data is called inference

mean_absolute_error 3763.312190444594
mean_squared_error 26226043.957655262
r2_score 0.5910276432753672

In [8]:
from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(x_train,y_train)
y_pred = ridge.predict(x_test)
print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
print("mean_squared_error",mean_squared_error(y_test, y_pred))
print("r2_score",r2_score(y_test, y_pred))

mean_absolute_error 3759.6769859031697
mean_squared_error 26258522.361314584
r2_score 0.5905211708043895

In [9]:
from sklearn.linear_model import Lasso
lassoo=Lasso()
lassoo.fit(x_train,y_train)
y_pred = lassoo.predict(x_test)
print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
print("mean_squared_error",mean_squared_error(y_test, y_pred))
print("r2_score",r2_score(y_test, y_pred))

mean_absolute_error 3763.2736572612243
mean_squared_error 26224554.764620315
r2_score 0.5910508659461636