In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import os

In [80]:
exp_sals = pd.read_csv('..\Datasets\Exp_Salaries.csv')
exp_sals.head()

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [81]:
train, test = train_test_split(exp_sals, test_size=0.3, random_state=25)
x_train = train[['Department']]
y_train = train['Salary']
x_test =test[['Department']]
y_test = test['Salary']
x_train.columns

Index(['Department'], dtype='object')

In [82]:
# Creating dummy vaibles for categorical data
x_train = pd.get_dummies(x_train, drop_first=True)
x_test = pd.get_dummies(x_test, drop_first=True)

x_train.head()

    Department_B  Department_C  Department_D
42             0             0             1
27             0             0             1
10             1             0             0
0              0             0             0
33             0             0             1

In [83]:
lr= LinearRegression()
lr.fit(x_train, y_train)
predictions = lr.predict(x_test)
lr.coef_, lr.intercept_

(array([ 1607.91428571,  6143.11428571, 10861.38095238]), 32825.28571428572)

In [84]:
train.groupby('Department')['Salary'].mean()

Department
A    32825.285714
B    34433.200000
C    38968.400000
D    43686.666667
Name: Salary, dtype: float64

In [85]:
32825.285714+6143.11428571 #which is equal to department C 38968.400000 mean salary

38968.399999709996

In [86]:
train, test = train_test_split(exp_sals, test_size=0.3, random_state=25)
x_train = train.drop(['Salary'],axis=1)
y_train = train['Salary']
x_test =test.drop(['Salary'],axis=1)
y_test = test['Salary']
x_train.columns

# Creating dummy vaibles for categorical data
x_train = pd.get_dummies(x_train, drop_first=True)
x_test = pd.get_dummies(x_test, drop_first=True)

x_train.head()

lr= LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
lr.coef_, lr.intercept_
lr.score(x_test, y_test)
print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
print("mean_squared_error",mean_squared_error(y_test, y_pred))
print("r2_score",r2_score(y_test, y_pred))

mean_absolute_error 3035.201975893409
mean_squared_error 13382266.447559897
r2_score 0.7913151882071023

In [87]:
from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(x_train,y_train)
y_pred = ridge.predict(x_test)
print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
print("mean_squared_error",mean_squared_error(y_test, y_pred))
print("r2_score",r2_score(y_test, y_pred))

mean_absolute_error 3077.6309933789275
mean_squared_error 15725619.94169175
r2_score 0.7547726275875368

In [88]:
from sklearn.linear_model import Lasso
lassoo=Lasso()
lassoo.fit(x_train,y_train)
y_pred = lassoo.predict(x_test)
print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
print("mean_squared_error",mean_squared_error(y_test, y_pred))
print("r2_score",r2_score(y_test, y_pred))

mean_absolute_error 3034.6942984843067
mean_squared_error 13388233.65128942
r2_score 0.7912221348523432

In [89]:
exp_sals = pd.read_csv('..\Datasets\Exp_Salaries.csv')
dum_sals= pd.get_dummies(exp_sals, drop_first=True)
x , y = dum_sals.drop(['Salary'],axis=1), dum_sals['Salary']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=25)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((32, 8), (14, 8), (32,), (14,))

In [90]:
from sklearn.linear_model import Ridge
alpha_set=[0.001,0.01,0.1,1,2]
# 0.001 is the alpha value which is the regularization parameter
for i in alpha_set:
    ridge=Ridge(alpha=i)
    ridge.fit(x_train,y_train)
    y_pred = ridge.predict(x_test)
    print("\nalpha",i)
    print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
    print("mean_squared_error",mean_squared_error(y_test, y_pred))
    print("r2_score",r2_score(y_test, y_pred))

alpha 0.001
mean_absolute_error 3035.260687473495
mean_squared_error 13384006.574833676
r2_score 0.7912880524349932

alpha 0.01
mean_absolute_error 3035.7869256459476
mean_squared_error 13399863.710643621
r2_score 0.7910407741869445

alpha 0.1
mean_absolute_error 3040.845201367156
mean_squared_error 13575141.982655851
r2_score 0.7883074619076239

alpha 1
mean_absolute_error 3077.6309933789275
mean_squared_error 15725619.94169175
r2_score 0.7547726275875368

alpha 2
mean_absolute_error 3102.651772553139
mean_squared_error 17621349.385784306
r2_score 0.725210374900299

In [91]:
from sklearn.linear_model import Lasso
alpha_set=[0.001,0.01,0.1,1,2]
# 0.001 is the alpha value which is the regularization parameter
for i in alpha_set:
    ridge=Lasso(alpha=i)
    ridge.fit(x_train,y_train)
    y_pred = ridge.predict(x_test)
    print("\nalpha",i)
    print("mean_absolute_error",mean_absolute_error(y_test, y_pred))
    print("mean_squared_error",mean_squared_error(y_test, y_pred))
    print("r2_score",r2_score(y_test, y_pred))

alpha 0.001
mean_absolute_error 3035.201445505047
mean_squared_error 13382272.25746991
r2_score 0.7913150976066063

alpha

 0.01
mean_absolute_error 3035.196888779153
mean_squared_error 13382325.309251424
r2_score 0.7913142703101925

alpha 0.1
mean_absolute_error 3035.1490524531728
mean_squared_error 13382848.624840334
r2_score 0.7913061096585117

alpha 1
mean_absolute_error 3034.6942984843067
mean_squared_error 13388233.65128942
r2_score 0.7912221348523432

alpha 2
mean_absolute_error 3034.2108127988536
mean_squared_error 13394439.83306512
r2_score 0.7911253548427022

In [92]:
#Elastic net regression
from sklearn.linear_model import ElasticNet

#Testing different alpha values and l1_ratio values to find the best combination.
ration=[0.01,0.25,0.5,0.75,0.9]
alpha_set=[0.001,0.01,0.1,0.5,1,2] 
scores=[]
for i in alpha_set:
    for j in ration:
        el=ElasticNet(alpha=i, l1_ratio=j,random_state=25)
        el.fit(x_train,y_train)
        y_pred = el.predict(x_test)
        scores.append([j,i,r2_score(y_test, y_pred)])
scores=pd.DataFrame(scores, columns=['ratio','alpha','r2_score'])

In [93]:
scores.sort_values(by='r2_score', ascending=False).head(10)

   ratio  alpha  r2_score
4   0.90  0.001  0.791228
3   0.75  0.001  0.791096
2   0.50  0.001  0.790873
1   0.25  0.001  0.790646
0   0.01  0.001  0.790424
9   0.90  0.010  0.790413
8   0.75  0.010  0.788950
7   0.50  0.010  0.786279
6   0.25  0.010  0.783405
5   0.01  0.010  0.780524

## Inferencing

In [97]:
test_sals = pd.read_csv('..\Datasets\SalsToPredict.csv')
x = pd.get_dummies(train.drop(['Salary'], axis=1), drop_first=True)
y = train['Salary']
test_sals.head(2)

,Years_Previous_Experience,Years_Employed,Years_Education,Gender,Department,Number_Supervised
0,2,4,12,Male,A,8
1,5,4,7,Male,A,1

In [98]:
dum_tst = pd.get_dummies(test_sals, drop_first=True)
dum_tst = dum_tst.reindex(columns=x.columns, fill_value=0)
dum_tst.head(2)

,Years_Previous_Experience,Years Employed,Years_Education,Number_Supervised,Gender_Male,Department_B,Department_C,Department_D
0,2,0,12,8,1,0,0,0
1,5,0,7,1,1,0,0,0

In [96]:
e1 = ElasticNet(alpha=0.001, l1_ratio=0.9, random_state=25)
e1.fit(x, y)

# Predicting the salary for the test data
y_pred = e1.predict(dum_tst)
y_pred

array([38988.71517446, 30208.77760193, 39089.4450353 , 32483.78051564,
       27048.86760531, 43439.82974851, 40346.66423037, 34450.86743864,
       45555.61720493, 30224.57773414, 27195.03420328, 29573.68743956,
       32090.54814502, 44142.15917615, 37791.99820512])